@{
    ViewData["Title"] = "Settings - Gamer's Heaven";
    Layout = "_Layout";
}

<section class="settings-section">
    <h1>Settings</h1>
    <div class="settings-container">

        <div class="setting">
            <label>Change Profile Picture:</label>
            <input type="file" id="profile-pic-upload" accept="image/*">
            <button>Upload</button>
        </div>

        <div class="setting">
            <label>Change Username:</label>
            <input type="text" id="username">
            <button>Save</button>
        </div>

        <div class="setting">
            <label>Change Password:</label>
            <input type="password" id="password" placeholder="New Password">
            <button>Update</button>
        </div>

        <button class="save-settings-btn">Save Settings</button>

    </div>
</section>


 